@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --negro: #000000;
  --azul-oscuro: #11295B;
  --naranja: #FCA311;
  --naranja-46: rgba(252, 163, 17, 0.46);
  --hueso: #E4D5C1;
  --blanco: #FFFFFF;
  --rojo: #F85959;
  --verde: #219653;
  --fuente-principal: 'Inter', sans-serif;
  --tamaña-bold: bold;
  --tamaño-regular: 500;
  --tamaño-black: 900;
  --sombra: 0px 4px 3px rgba(1, 0, 0, 0.165);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0c0c;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html, body {
  height: 100%;
  background-color: #FFFFFF;
}